img {
  width: 500px;
  margin: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

table {
  border: black solid;
}

tr {color: black solid
  ;}

  ol {
    list-style: lower-roman;
  }

  ul {
    list-style: square;
    color: brown;
  }
